*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
    color: #999;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    padding-top: 30px;
    padding-bottom: 320px;
    background: url('../img/header-bg.jpg') center/cover no-repeat, #404149;
    position: relative;
}
.header::after {
    content: '';
    background: linear-gradient(0deg, rgba(64, 65, 73, 0.9), rgba(64, 65, 73, 0.9));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header__wrapper {
    position: relative;
    z-index: 1;
}
.header__top {
    margin-bottom: 112px;
}
.header__top-logo {
    display: inline-block;
}
.header__burger {
    width: 50px;
    height: 50px;
    background: #F7654A;
    float: right;
    position: relative;
    cursor: pointer;
}
.header__burger-item {
    top: calc(50% - 3px);
    left: calc(50% - 10px);
}
.header__burger-item::before,
.header__burger-item::after,
.header__burger-item {
    width: 21px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
}
.header__burger-item::before {
    content: '';
    top: 10px;
}
.header__burger-item::after {
    content: '';
    top: -10px;
}
.header__description {
    max-width: 734px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.header__description-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 1.48;
    margin-bottom: 35px;
}
.header__description-subtitle {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.benefits__wrapper {
    background: #F7F7F7;
    position: absolute;
    bottom: -20%;
}
.benefits__items {
    padding: 57px 175px;
}
.benefits__item {
    display: inline-block;
    font-weight: 500;
    margin-right: 148px;
}
.benefits__item:last-child {
    margin-right: 0;
}
.benefits__item-title {
    color: #F7654A;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 25px;
}
.benefits__item-text {
    font-family: 'Oswald';
    font-size: 36px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 9px;
    color: #000;
}
.benefits__item-subtext {
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 1;
    text-align: center;  
    color: #999;   
}
.our-project {
    padding-top: 320px;
    padding-bottom: 130px;
}
.our-project__title {
    text-align: center;
    color: #404149;
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.our-project__items {
    overflow: auto;
}
.our-project__item {
    max-width: 350px;
    margin-right: 30px;
    float: left;
}
.our-project__item:last-child {
    margin-right: 0;
}
.our-project__img {
    margin-bottom: 45px;
    position: relative;
    transition: all 1s;
}
.our-project__img:hover > .our-project__item-info {
    opacity: .9;
}
.our-project__item-info {
    position: absolute;
    height: 150px;
    width: 100%;
    background: #F7654A;
    bottom: 0;
    left: 0;
    opacity: 0;
    color: #fff;
    padding: 20px;
}
.project-info__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}
.project-info__text {
    font-style: italic;
}
.our-project__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #404149;
    margin-bottom: 20px;
    position: relative;
}
.our-project__item-title::before {
    content: '';
    position: absolute;
    background: #F7654A;
    width: 55px;
    height: 6px;
    top: -15px;
}
.footer {
    padding-top: 32px;
    padding-bottom: 43px;
    background: #F7654A;
}
.footer__description {
    line-height: 1;
    letter-spacing: 0.02em;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
}
.footer__description-title {    
    font-size: 48px;
    margin-bottom: 20px;
}
.footer__description-text {
    font-family: 'Oswald';
    font-size: 24px;
}
.btn {
    float: right;
    background: url('../img/email.svg') 30px center no-repeat ,#FFF;
    width: 175px;
    height: 49px;
    border: none;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 14px;
    padding: 14px 30px 14px 60px;
    letter-spacing: 0.05em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 43px;
    cursor: pointer;
}