/* Variables */
:root {
  --main-bg-color: #201636;
  --main-fz: 16px;
  --main-color: #fff;
  --main-ffamily: 'Montserrat', sans-serif;
}

/* Start styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--main-ffamily);
  background-color: var(--main-bg-color);
  font-size: var(--main-fz);
  color: var(--main-color);
  font-weight: 400;
  line-height: 1.5;
}
.container {
  max-width: 1900px;
  padding: 0 10px;
  margin: 0 auto;
}
.btn {
  border: none;
  display: inline-block;
  color: #1F1F1F;
  background-color: #F09F0C;
  box-shadow: 0px 4px 20px #7D5103;
  padding: 20px 65px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .5s ease;
}
.btn:hover {
  background-color: #e7a72f;  
}
.btn:active {
  transform: scale(.9);
}
/* start section-top styles*/
.section-top {
  padding-top: 180px;
}
.section-top__wrapper {
  background-image: url('../img/top-img.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-top: 207px;
  padding-bottom: 100px;
}
.section-top__content {
  line-height: 1.25;
  max-width: 685px;
  margin-left: auto;
}
.section-top__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 85px;
}
.section-top__text-top {
  font-size: 20px;
  margin-bottom: 62px;
}
.section-top__text-bottom {
  font-size: 15px;
  color: #211637;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 9px 25px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 44px;
}
.section-top__start {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700; 
  padding: 11px 124px 11px 90px;
  background-image: url('../img/common/rocket.svg'),
                    url('../img/common/line.svg');
  background-repeat: no-repeat;
  background-position: left center, right center;
  margin-right: 10px;
}
/* end section-top styles*/

/* start section-benefits styles*/
.benefits {
  padding-top: 129px; 
  min-height: 780px;
  background-image: url('../img/section-benefits/bg-top.png'),
                    url('../img/section-benefits/bg-bottom.png'),
                    url('../img/section-benefits/benefits-bg.png');
  background-position: left top, left bottom, center;
  background-size: 100%, 100%, cover;
  background-repeat: no-repeat;
}
.benefits__items {
  padding: 0 250px;
  margin-bottom: 120px;
}
.benefits__item {
  max-width: 370px;
  text-align: center;
  display: inline-block;
  margin-right: 130px;
  vertical-align: top;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item-img {
  margin-bottom: 30px;
}
.benefits__item-text span {
  font-weight: 700;
}
/* end section-benefits styles*/

/* start section-steps styles*/
.steps {
  padding-bottom: 244px;
  background-image: url('../img/guation-img.png');
  background-repeat: no-repeat;
  margin-top: -265px;
}
.steps__title {
  max-width: 1170px;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.22;
  margin: 0 auto;
  margin-bottom: 30px;
}
.steps__title span {
  color: #e7a72f;  
}
.steps__text {
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}
.steps__wrapper {
  padding-left: 220px;
}
.steps__img {
  display: inline-block;
}
.steps__menu {
  display: inline-block;
  max-width: 554px;
  vertical-align: top;
  padding-top: 84px;
  margin-left: 106px;
}
.steps__item {
  list-style-type: none;
  padding-left: 50px;
  margin-bottom: 30px;
  background-image: url('../img/common/arrow.svg');
  background-repeat: no-repeat;
  background-position: left 50%;
}
/* end section-steps styles*/