table {
  border: 1px solid #000;
  border-collapse: collapse;
  font-weight: 600;
  text-align: center;
  background-color: rgb(252, 249, 249);
}
tr, td {
  border: 1px solid #000; 
}
td {
  width: 102px;
  text-transform: none;
}
tr {
  height: 52px;
}
.sm-height {
  height: 26px; 
}
.sm-width {
  width: 26px;
}
span {
  font-weight: 400;
  text-transform: uppercase;
}
.bg-pink {
  background-color: rgb(245, 19, 87);
}
.bg-yellow {
  background-color: yellow;
}
.bg-blue {
  background-color: rgb(117, 117, 209);
}
.table-bottom {
  max-width: 1109px;
  border: 0;
}
.uppercase {
  text-transform: uppercase;
}