* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #131313;
  color: #fff;
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  padding: 20px 0;
  border-bottom: 1px solid #272727;
}
.header__card-number,
.logo__text,
.menu,
.menu__list,
.sequence__body,
.sequence__number {
  display: inline-block;  
}
.header__card-number {
  border-left: 1px solid #272727;
  padding-left: 12px;
  margin-left: 12px;
}
.menu {
  margin-left: 50px;
}
.menu__list,
.sequence__number {
  list-style-type: none;
  margin-left: 9px;
}
.logo__link,
.menu__link,
.sequence__link {
  text-transform: uppercase;
  text-decoration: none;
}
.menu__link {
  color: #fff;
  font-weight: 700;
}
.logo__link {
  color: #1ACD4C;
  font-family: 'Caveat';
  font-size: 30px;
}
.menu__link--active {
  text-decoration: line-through;
  color: #727272;
}
.main {
  padding-top: 90px;
  background-image: url('../img/wall.png');
  background-repeat: no-repeat;
  background-position: top;
}
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Montserrat';
}
.table__title {
  font-weight: 900;
  font-size: 30px;
  text-align: left;
  padding-bottom: 52px;
}
.table__header {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #727272; 
}
.table__header-name {
  padding-left: 20px;
  text-align: left;
  padding-bottom: 5px;
}
.table__body-row {
  border: 1px solid #272727;
  background-color: #131313;
}
.table__body-case {
  padding: 10px 20px;
}
.sequence {
  max-width: 510px;
  margin: 0 auto;
}
.sequence__body {
  margin: 26px 49px 0 49px;
}
.sequence__link {
  color: #fff;
}
.sequence__number {
  margin-left: 10px;
}